[user]
	email = yaxollum@gmail.com
	name = Peter Ye
	signingkey = 9A4ED20A5F3F8C0112C4B1EF86211039C3223EF7 
[commit]
	gpgsign = true
[core]
	autocrlf = input
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
